name: Build README

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use pnpm
        uses: pnpm/action-setup@v4.0.0
        with:
          version: '9'

      - name: Install dependencies
        run: pnpm --filter @webvpn-converter/readme install

      - name: Build
        run: pnpm --filter @webvpn-converter/readme build

      - name: Commit and push
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: 'action: build README.md'
